<ion-view view-title="地圖資訊">
  <ion-content>
    <div class="list card">



      <div class="item item-body map">
        <h1>高雄國際會議中心 ICCK</h1>
        <h2>高鐵/火車/捷運</h2>
        <ul>
          <li>左營高鐵站/高雄火車站搭捷運紅線</li>
          <li>至捷運美麗島站換乘橘線往西子灣方向</li>
          <li>捷運鹽埕埔站下車，二號出口步行約 250 公尺可至會場</li>
        </ul>
        <h2>公車</h2>
        <ul>
          <li>歷史博物館0南(單邊停靠)、0北(單邊停靠)、11、25、33、56、60、76、77、82、建國幹線、91、214、219、248</li>
        </ul>



      </div>

     

    </div>
  </ion-content>
</ion-view>
